<div class="card" style="width:25rem">
    <div class="card-body">
        <div class="text-center">
            <img [src]="imgSrc" width="350px" height="250px" (click)="subidorArchivos.click()">
        </div>
        <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
            <div class="form-group">
                <label>Seleccione archivo a subir</label>

                <input #subidorArchivos type="file" accept="image/*" class="form-control" formControlName="imageUrl"
                    (change)="vistaPrevia($event)">

                <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">Este archivo es
                    requerido.</div>
            </div>
            <div class="form-group">

                <input class="form-control" formControlName="titulo" placeholder="Título">

                <div class="text-danger" *ngIf="isSubmitted && formControls.titulo.errors?.required">Este campo es
                    requerido.
                </div>
            </div>
            <div class="form-group">

                <input class="form-control" formControlName="descripcion" placeholder="Descripción">

                <div class="text-danger" *ngIf="isSubmitted && formControls.descripcion.errors?.required">Este campo es
                    requerido.
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-success btn-block float-right">Enviar</button>
                </div>
            </div> 
        </form>
    </div>
</div>